@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-mms-grayLight: #f3f4f6;
  --color-mms-blue: #92bfff;
  --color-mms-indigoLight: #edeefc;
  --color-mms-tealLight: #96e2d6;
  --color-mms-indigo: #9f9ff8;
  --color-mms-greenLight: #94e9b8;
  --color-mms-black: #000000;
  --color-mms-white: #ffffff;
}

/* Force light theme regardless of device theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff !important;
    --foreground: #171717 !important;
  }
}

body,
html,
#__next,
#root {
  background: #ffffff !important;
  color: #171717 !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
