@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-mms-grayLight: #f3f4f6;
  --color-mms-blue: #92BFFF;
  --color-mms-indigoLight: #EDEEFC;
  --color-mms-tealLight: #96E2D6;
  --color-mms-indigo: #9F9FF8;
  --color-mms-greenLight: #94E9B8;
  --color-mms-black: #000000;
  --color-mms-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
